@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");


html {
  font-family: font-awesome;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {background-color: rgb(255,255,255);}
body {
  padding-top: 3.25rem; }
  body:before {
    content: ' ';
    background-image: url(src/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .15; }

div.spacer
{
    font-size: 0;
    height: 10px;
    line-height: 0;
}

div.bigspacer
{
    font-size: 0;
    height: 80px;
    line-height: 0;
}

div.littlespacer
{
    font-size: 0;
    height: 3px;
    line-height: 0;
}

p.dir
{

font-size: 25px;
color: black

}

p.medium
{

font-size: 20px;
color: black

}

.container {
  position: relative;
 text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bulletin  {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
p {
  color: black;
}
h1 {
  color: black;
}
h2 {
  color: black;
}


.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}
